ul{
    list-style-type: none;
    li{
        width: 100%;
       
    }
}
.controlPanel {
    
  
    .sidebar {
        position: absolute;
        top: 0; left: 0;
        width: 25.0rem;
        height: 100%;
        z-index: 1;
        border-right: 1px solid #d3d3d3;
      
      
    }
  
    .content {
      padding: 0 10px;
      ::-webkit-scrollbar {
        width: 10px;
      }
      
      
    }
  }
