.directory{
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    .item{
        display: flex;
        width: 50%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        a{
                            margin: auto;  
                            font-size: 1em;
                            line-height: 1;
                            font-weight: 400;
                            text-transform: uppercase;
                            background: white;
                            padding: 8px 10px;
                            border: 1px solid black;
                        }
    }
}
