*{
    box-sizing: border-box;
}
.header{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    position: 'sticky';
    position: '-webkit-sticky';
     top: 0;


    .wrap{
        overflow: hidden;
        height: 100%; 
        max-width: 1450px;
        margin: 0 auto;
    } 
    .logo{ 
        position: absolute;
         left: 250px; padding-top: 7.0rem;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        img{

            display: block;
            height: 50px;
            width: 30%;
            margin: 0;
        }
    }
    .title{
       float: left;
      margin-left: 10px;
         
    }
    nav{
        float: right;
        ul, ul li{
                    display: inline-flex;    
                  padding: 0; margin: 0;
                    
                    height: 100%;
                   
                    li {
                        
                        padding: 20px 5px 0 15px ;
                        
                        a{
                            width: 100px;
                        }
                    }
                    
                }
               
            span{   
                    font-weight: 500;
                    font-size: 23px;
                    cursor: pointer;
                    
                }
             
    }
   
  

}

.img-cart{
  width: 30%;
}


@media screen and (max-width: 500px) {
    .home .logo .title {
      float: none;
      display: block;
      text-align: left;
    }
    
    nav{
      float: none;
    }
  }
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  } 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover { background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }